{% extends 'media.html.twig' %}
{% block background_url%}{{ 'https://image.tmdb.org/t/p/original' ~ show.backdrop_path }}{% endblock %}
{% block media_poster %}
    <img src="{{ 'https://image.tmdb.org/t/p/w92' ~ show.poster_path}}" alt="">
{% endblock %}

{% block media_text %}
    <h1>{{ show.name }}
        <span class="date">{{ show.first_air_date|slice(0,4) }}</span>
    </h1>
{% endblock %}

{% block media_actions %}
    <div class="action">
        <i class="material-icons">bookmark_border</i> Suivre
    </div>
    <div class="action">
        <i class="material-icons">done_all</i>Marquer comme vu
    </div>
    <div class="action">
        <i class="material-icons">list</i>A voir
    </div>
{% endblock %}

{% block content %}
    {#{{ dump(show) }}#}
    <section>
        <ul class="tabs">
            <li class="tab col s3">
                <a class="active" href="#synopsis">Synopsis</a>
            </li>
            <li class="tab col s3">
                <a href="#seasons">Saisons</a>
            </li>
            <li class="tab col s3">
                <a href="#planning">Planning</a>
            </li>
        </ul>
        <div class="container">
            <div id="synopsis" class="col s12">
                {{ show.overview }}
            </div>
            <div id="seasons" class="col s12">
                {% for season in show.seasons %}
                <div class="season card horizontal">
                    <div class="card-image">
                        <img src="{{ 'https://image.tmdb.org/t/p/w94_and_h141_bestv2' ~ season.poster_path}}"
                             alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h1>
                                <a href="{{ path('season_show',{showId: show.id, seasonNumber: season.season_number}) }}">Saison {{ season.season_number }}</a>
                            </h1>
                            <h2>
                                {{ season.air_date | slice(0,4) }} | {{ season.episode_count }} épisodes
                            </h2>
                            <h2>
                                0 épisodes à voir
                            </h2>
                        </div>
                        <div class="card-action button">
                            <i class="material-icons">done_all</i>Marquer comme vu
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div id="planning" class="planning">
                <div class="episode">
                    <h1>
                        <a href="{{ path('episode_show',{showId:1,seasonNumber:2,episodeNumber:1}) }}">S02x01 Episode
                            1</a>
                    </h1>
                    <h2>2 juin 2018</h2>
                </div>
                <div class="episode">
                    <h1>
                        <a href="{{ path('episode_show',{showId:1,seasonNumber:2,episodeNumber:1}) }}">S02x01 Episode
                            1</a>
                    </h1>
                    <h2>2 juin 2018</h2>
                </div>
                <div class="episode">
                    <h1>
                        <a href="{{ path('episode_show',{showId:1,seasonNumber:2,episodeNumber:1}) }}">S02x01 Episode
                            1</a>
                    </h1>
                    <h2>2 juin 2018</h2>
                </div>

                <div class="episode">
                    <h1>
                        <a href="{{ path('episode_show',{showId:1,seasonNumber:2,episodeNumber:1}) }}">S02x01 Episode
                            1</a>
                    </h1>
                    <h2>2 juin 2018</h2>
                </div>

                <div class="episode">
                    <h1>
                        <a href="{{ path('episode_show',{showId:1,seasonNumber:2,episodeNumber:1}) }}">S02x01 Episode
                            1</a>
                    </h1>
                    <h2>2 juin 2018</h2>
                </div>
                <div class="episode">
                    <h1>
                        <a href="{{ path('episode_show',{showId:1,seasonNumber:2,episodeNumber:1}) }}">S02x01 Episode
                            1</a>
                    </h1>
                    <h2>2 juin 2018</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
