{% extends 'media.html.twig' %}
{% block background_url%}{{ show.backdropPath }}{% endblock %}
{% block media_poster %}
    <img src="{{ 'https://image.tmdb.org/t/p/w92' ~ show.posterPath }}" alt="">
{% endblock %}

{% block media_text %}
    <h1>{{ show.name }}
        <span class="date">{{ show.firstAirDate|date('Y') }}</span>
    </h1>
{% endblock %}

{% block media_actions %}
    <div class="action {{ isInFollowlist ? 'active' : '' }}" onclick="$('#form_followlist').submit()">
        <form id="form_followlist" action="{{ path('followlist_store',{tmdbId:show.tmdbId}) }}" method="post">
            {% if isInFollowlist %}
                <input value="DELETE" name="_method" hidden>
            {% endif %}
        </form>
        <i class="material-icons">bookmark_border</i> Suivre
    </div>
    <div class="action {{ isInHistory ? 'active' : '' }}" onclick="$('#show_history_form').submit()">
        <form id="show_history_form" action="{{ path("history_store_show", {tmdbId:show.tmdbId}) }}" method="post">
            {% if isInHistory %}
                <input value="DELETE" name="_method" hidden>
            {% endif %}
        </form>
        <i class="material-icons">{{ isInHistory ? 'clear' : 'done_all' }}</i>Marquer comme {{ isInHistory ? 'non ' }}vu
    </div>
    <div class="action {{ isInWatchlist ? 'active' : '' }}" onclick="$('#form_watchlist').submit()">
        <form id="form_watchlist" action="{{ isInWatchlist ? path('watchlist_delete',{tmdbId:show.tmdbId}) : path('watchlist_store',{tmdbId:show.tmdbId}) }}" method="post">
            {% if isInWatchlist %}
                <input value="DELETE" name="_method" hidden>
            {% endif %}
        </form>
        <i class="material-icons">list</i>A voir
    </div>

{% endblock %}

{% block content %}
    {#{{ dump(show) }}#}
    <section>
        <ul class="tabs">
            <li class="tab col s3">
                <a class="active" href="#synopsis">Synopsis</a>
            </li>
            <li class="tab col s3">
                <a href="#seasons">Saisons</a>
            </li>
            <li class="tab col s3">
                <a href="#planning">Planning</a>
            </li>
        </ul>
        <div class="container">
            <div id="synopsis" class="col s12">
                {{ show.overview ? show.overview : "Le synopsis n'est pas disponible."}}
            </div>
            <div id="seasons" class="col s12">
                {% for season in show.seasons %}

                    {% set unwatchedEpisodesCount =  app.user ? season.episodes.count() - app.user.getWatchedEpisodeCountForSeason(show.tmdbId,season.seasonNumber) : season.episodes.count()%}
                <div class="season card horizontal">
                    <div class="card-image">
                        <img src="{{ 'https://image.tmdb.org/t/p/w94_and_h141_bestv2' ~ season.posterPath}}"
                             alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h1>
                                <a href="{{ path('season_show',{showId: show.tmdbId, seasonNumber: season.seasonNumber}) }}">Saison {{ season.seasonNumber }}</a>
                            </h1>
                            <h2>
                                {{ season.airDate | date('Y') }} | {{ season.episodeCount }} épisodes
                            </h2>
                            <h2>
                                {{ unwatchedEpisodesCount }} épisodes à voir
                            </h2>
                        </div>
                        <div class="card-action button {{ unwatchedEpisodesCount == 0 ? 'danger' }}" onclick="$('#form_watch_season_{{ season.seasonNumber }}').submit()">
                            <form id="form_watch_season_{{ season.seasonNumber }}" action="{{ path('history_store_season', {tmdbId:show.tmdbId,seasonNumber:season.seasonNumber}) }}" method="post">
                                {% if  unwatchedEpisodesCount == 0 %}
                                    <input value="DELETE" name="_method" hidden>
                                {% endif %}
                                <input value="{{ path('show_show', {showId:show.tmdbId}) }}" name="redirect" hidden>
                            </form>
                            {% if unwatchedEpisodesCount == 0 %}
                                <i class="material-icons">clear</i>Marquer comme non vu
                            {% else %}
                                <i class="material-icons">done_all</i>Marquer comme vu
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% else %}
                    Aucune saison pour l'instant
                {% endfor %}

            </div>

            <div id="planning" class="planning">
                {#{{ dump(show.getUnairedEpisodes()) }}#}
                {% for episode in show.getUnairedEpisodes() %}
                <div class="episode">
                    <h1>
                        <a href="{{ path('episode_show',{showId:show.tmdbId,seasonNumber:episode.seasonNumber,episodeNumber:episode.EpisodeNumber}) }}">{{ episode.seasonNumber }}x{{ episode.episodeNumber }} {{ episode.name }}</a>
                    </h1>
                    <h2>{{ episode.airDate | date_diff}}</h2>
                </div>
                {% else %}
                    Aucun épisode n'est annoncé.
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
