{% extends 'media.html.twig' %}
{% block background_url%}{{ show.backdropPath }}{% endblock %}
{% block media_poster %}
    <img src="{{ 'https://image.tmdb.org/t/p/w92' ~ show.posterPath }}" alt="">
{% endblock %}

{% block media_text %}
    <h1>{{ show.name }}
        <span class="date">{{ show.firstAirDate|date('Y') }}</span>
    </h1>
{% endblock %}

{% block media_actions %}
    <div class="action">
        <i class="material-icons">bookmark_border</i> Suivre
    </div>
    <div class="action">
        <i class="material-icons">done_all</i>Marquer comme vu
    </div>
    <div class="action">
        <i class="material-icons">list</i>A voir
    </div>
{% endblock %}

{% block content %}
    {#{{ dump(show) }}#}
    <section>
        <ul class="tabs">
            <li class="tab col s3">
                <a class="active" href="#synopsis">Synopsis</a>
            </li>
            <li class="tab col s3">
                <a href="#seasons">Saisons</a>
            </li>
            <li class="tab col s3">
                <a href="#planning">Planning</a>
            </li>
        </ul>
        <div class="container">
            <div id="synopsis" class="col s12">
                {{ show.overview ? show.overview : "Le synopsis n'est pas disponible."}}
            </div>
            <div id="seasons" class="col s12">
                {% for season in show.seasons %}
                <div class="season card horizontal">
                    <div class="card-image">
                        <img src="{{ 'https://image.tmdb.org/t/p/w94_and_h141_bestv2' ~ season.posterPath}}"
                             alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h1>
                                <a href="{{ path('season_show',{showId: show.tmdbId, seasonNumber: season.seasonNumber}) }}">Saison {{ season.seasonNumber }}</a>
                            </h1>
                            <h2>
                                {{ season.airDate | date('Y') }} | {{ season.episodeCount }} épisodes
                            </h2>
                            <h2>
                                0 épisodes à voir
                            </h2>
                        </div>
                        <div class="card-action button">
                            <i class="material-icons">done_all</i>Marquer comme vu
                        </div>
                    </div>
                </div>
                {% else %}
                    Aucune saison pour l'instant
                {% endfor %}

            </div>

            <div id="planning" class="planning">
                {#{{ dump(show.getUnairedEpisodes()) }}#}
                {% for episode in show.getUnairedEpisodes() %}
                <div class="episode">
                    <h1>
                        <a href="{{ path('episode_show',{showId:show.tmdbId,seasonNumber:episode.seasonNumber,episodeNumber:episode.EpisodeNumber}) }}">{{ episode.seasonNumber }}x{{ episode.episodeNumber }} {{ episode.name }}</a>
                    </h1>
                    <h2>{{ episode.airDate | date_diff}}</h2>
                </div>
                {% else %}
                    Aucun épisode n'est annoncé.
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
