{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="search-header">
                <h1>Séries à voir</h1>
            </div>
            <div class="shows">
                {% for show in shows %}
                <div class="show card horizontal">
                    <div class="card-image">
                        <a href="{{ path('show_show',{showId:show.tmdbId}) }}">
                            {% if show.isHot() %}
                                <div class="top-left-corner-label">
                                    <i class="material-icons">whatshot</i>
                                </div>
                            {% endif%}
                            <img src="https://image.tmdb.org/t/p/w92{{ show.posterPath }}" alt="">
                        </a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h1>
                                <a href="{{ path('show_show',{showId:show.tmdbId}) }}">{{ show.name }} ({{ show.firstAirDate | date('Y') }})</a>
                            </h1>
                            <h2>{{ show.episodes.count() }} épisodes</h2>
                            <h2>{{ show.status }}</h2>
                        </div>
                        <div class="card-action button danger" onclick="$('#delete_form_{{ show.tmdbId }}').submit()">
                            <form id="delete_form_{{ show.tmdbId }}" action="{{ path('watchlist_delete',{tmdbId:show.tmdbId}) }}" method="post">
                                <input value="DELETE" name="_method" hidden>
                                <input value="{{ path('watchlist_index') }}" name="redirect" hidden>
                            </form>
                            <i class="material-icons">delete</i>Supprimer
                        </div>
                    </div>
                </div>
                {% else %}
                    Il n'y a rien dans votre liste.
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
