{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="search-header">
                <h1>Séries à voir</h1>
            </div>
            <div class="shows">
                {% for show in shows %}
                <div class="show card horizontal">
                    <div class="card-image">
                        <a href="{{ path('show_show',{showId:show.tmdbId}) }}">
                            <img src="https://image.tmdb.org/t/p/w92{{ show.posterPath }}" alt="">
                        </a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h1>
                                <a href="{{ path('show_show',{showId:show.tmdbId}) }}">{{ show.name }} ({{ show.firstAirDate | date('Y') }})</a>
                            </h1>
                            <h2>2 épisodes vus sur 76</h2>
                            <h2>Série terminée</h2>
                        </div>
                        <div class="card-action button danger">
                            <i class="material-icons">delete</i>Supprimer
                        </div>
                    </div>
                </div>
                {% else %}
                    Il n'y a rien dans votre liste.
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
