{% extends 'media.html.twig' %}
{% block background_url %}{{ episode.still_path }}{% endblock %}
{% block media_poster %}
    <img src="https://image.tmdb.org/t/p/w92{{ season.poster_path }}" alt="">
{% endblock %}

{% block media_text %}
    <h2>
        <a href="{{ path('show_show',{showId:show.id}) }}">{{ show.name }}</a> :
        <a href="{{ path('season_show',{showId:show.id,seasonNumber:episode.season_number}) }}"> Saison {{ episode.season_number }} </a>
    </h2>
    <h1>{{ episode.season_number }}x{{ episode.episode_number }}
        <span class="episode-title">{{ episode.name }}</span>
    </h1>
{% endblock %}

{% block media_actions %}
    <div class="action">
        <a href="#">
            <i class="material-icons">chevron_left</i>
        </a>
    </div>
    <div class="action">
        <i class="material-icons">done_all</i>Marquer comme vu
    </div>
    <div class="action">
        <a href="#">
            <i class="material-icons">chevron_right</i>
        </a>
    </div>
{% endblock %}

{% block content %}
    {#{{ dump(episode) }}#}
    <section>
        <div class="container">
            <div class="meta">
                <label>DIFFUSION </label>{{ episode.air_date }}
            </div>
            <div id="synopsis" class="col s12">
                {{ episode.overview }}
            </div>
        </div>
    </section>
{% endblock %}