{% extends 'media.html.twig' %}
{% block background_url %}{{ episode.stillPath }}{% endblock %}
{% block media_poster %}
    {% if season.show.isHot() %}
        <div class="top-left-corner-label">
            <i class="material-icons">whatshot</i>
        </div>
    {% endif%}
    <img src="https://image.tmdb.org/t/p/w92{{ season.posterPath }}" alt="">
{% endblock %}

{% block media_text %}
    <h2>
        <a href="{{ path('show_show',{showId:show.tmdbId}) }}">{{ show.name }}</a> :
        <a href="{{ path('season_show',{showId:show.tmdbId,seasonNumber:episode.seasonNumber}) }}"> Saison {{ episode.seasonNumber }} </a>
    </h2>
    <h1>{{ episode.seasonNumber }}x{{ episode.episodeNumber }}
        <span class="episode-title">{{ episode.name }}</span>
    </h1>
{% endblock %}

{% block media_actions %}
    <div class="action {{ episode.hasPreviousEpisode() ? '' : 'hidden' }}">
        <a href="{{ episode.hasPreviousEpisode() ? path('episode_show', {showId:show.tmdbId,seasonNumber:episode.getPreviousEpisodeInfo()['seasonNumber'],episodeNumber:episode.getPreviousEpisodeInfo()['episodeNumber']}) : '#' }}">
            <i class="material-icons">chevron_left</i>
        </a>
    </div>
    <div class="action {{ isInHistory ? 'active' }}" onclick="$('#history_form').submit()">
        <form id="history_form" action="{{ path('history_store_episode', {tmdbId: episode.tvShow.id, seasonNumber: episode.seasonNumber, episodeNumber: episode.episodeNumber}) }}" method="post">
            {% if isInHistory %}
                <input name="_method" value="delete" hidden>
            {% endif %}
        </form>
        {% if isInHistory %}
            <i class="material-icons">clear</i>Marquer comme non vu
        {% else %}
            <i class="material-icons">done_all</i>Marquer comme vu
        {% endif %}
    </div>
    <div class="action {{ episode.hasNextEpisode() ? '' : 'hidden' }}">
        <a href="{{ episode.hasNextEpisode() ? path('episode_show', {showId:show.tmdbId,seasonNumber:episode.getNextEpisodeInfo()['seasonNumber'],episodeNumber:episode.getNextEpisodeInfo()['episodeNumber']}) : '#' }}">
            <i class="material-icons">chevron_right</i>
        </a>
    </div>
{% endblock %}

{% block content %}
    {#{{ dump(episode) }}#}
    <section>
        <div class="container">
            <div class="meta">
                <label>DIFFUSION </label>{{ episode.airDate | date('d-m-Y') }}
            </div>
            <div id="synopsis" class="col s12">
                {{ episode.overview ? episode.overview : "Le synopsis n'est pas disponible"}}
            </div>
        </div>
    </section>
{% endblock %}