{% extends 'media.html.twig' %}
{% block background_url %}{{ show.backdrop_path }}{% endblock %}
    {% block media_poster %}
        <img src="https://image.tmdb.org/t/p/w92/{{ season.poster_path }}" alt="">
    {% endblock %}

    {% block media_text %}
        <h2>
            <a href="{{ path('show_show',{showId:show.id}) }}">{{ show.name }}</a>
        </h2>
        <h1>Saison {{ season.season_number }}
            <span class="date">{{ season.air_date | slice(0,4) }}</span>
        </h1>
    {% endblock %}

    {% block media_actions %}
        <div class="action">
            <a href="#">
                <i class="material-icons">chevron_left</i>
            </a>
        </div>
        <div class="action">

            <i class="material-icons">done_all</i>Marquer comme vu
        </div>
        <div class="action">
            <a href="#">
                <i class="material-icons">chevron_right</i>
            </a>
        </div>
    {% endblock %}

    {% block content %}
        {#{{ dump(season) }}#}
        <section>
            <ul class="tabs">
                <li class="tab col s3">
                    <a class="active" href="#synopsis">Synopsis</a>
                </li>
                <li class="tab col s3">
                    <a href="#episodes">Episodes</a>
                </li>
            </ul>
            <div class="container">
                <div id="synopsis" class="col s12">
                    {{ season.overview }}
                </div>
                <div id="episodes" class="col s12 episodes">
                    {% for episode in season.episodes %}
                        <div class="episode">
                            <div>
                                <h1>
                                    <a href="{{ path('episode_show',{showId:show.id,seasonNumber:season.season_number,episodeNumber:episode.episode_number}) }}">{{ season.season_number }}x{{ episode.episode_number }} -
                                        {{ episode.name }}</a>
                                </h1>
                                <h2>{{ episode.air_date }}</h2>
                            </div>
                            <button class="btn waves-effect waves-light green">
                                <i class="material-icons">check</i>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock %}