{% extends 'media.html.twig' %}
{% block background_url %}{{ season.show.backdropPath }}{% endblock %}
    {% block media_poster %}
        {% if season.show.isHot() %}
            <div class="top-left-corner-label">
                <i class="material-icons">whatshot</i>
            </div>
        {% endif%}
        <img src="https://image.tmdb.org/t/p/w92/{{ season.posterPath}}" alt="">
    {% endblock %}

    {% block media_text %}
        <h2>
            <a href="{{ path('show_show',{showId:season.show.tmdbId}) }}">{{ season.show.name }}</a>
        </h2>
        <h1>Saison {{ season.seasonNumber }}
            <span class="date">{{ season.airDate | date('Y') }}</span>
        </h1>
    {% endblock %}

    {% block media_actions %}
        <div class="action {{ season.hasPreviousSeason() ? '' : 'hidden' }}">
            <a href="{{ season.hasPreviousSeason() ? path('season_show',{showId:season.show.tmdbId,seasonNumber:season.seasonNumber - 1}) : '#' }}">
                <i class="material-icons">chevron_left</i>
            </a>
        </div>
        <div class="action {{ isInHistory ? 'active' }}" onclick="$('#form_season_history').submit()">
            <form id="form_season_history" action="{{ path('history_store_season',{tmdbId:season.show.tmdbId,seasonNumber:season.seasonNumber}) }}" method="post">
                {% if isInHistory %}
                    <input name="_method" value="delete" hidden>
                {% endif %}
            </form>
            {% if isInHistory %}
                <i class="material-icons">clear</i>Marquer comme non vu
            {% else %}
                <i class="material-icons">done_all</i>Marquer comme vu
            {% endif %}
        </div>
        <div class="action {{ season.hasNextSeason() ? '' : 'hidden' }}">
            <a href="{{ season.hasNextSeason() ? path('season_show',{showId:season.show.tmdbId,seasonNumber:season.seasonNumber + 1}) : '#' }}">
                <i class="material-icons">chevron_right</i>
            </a>
        </div>
    {% endblock %}

    {% block content %}
        {#{{ dump(season) }}#}
        <section>
            <ul class="tabs">
                <li class="tab col s3">
                    <a class="active" href="#synopsis">Synopsis</a>
                </li>
                <li class="tab col s3">
                    <a href="#episodes">Episodes</a>
                </li>
            </ul>
            <div class="container">
                <div id="synopsis" class="col s12">
                    {{ season.overview ? season.overview : "Le synopsis n'est pas disponible"}}
                </div>
                <div id="episodes" class="col s12 episodes">
                    {% for episode in season.episodes %}
                        {% set isEpWatched = app.user ? app.user.isEpisodeWatched(episode): false %}
                        <div class="episode">
                            <div>
                                <h1>
                                    <a href="{{ path('episode_show',{showId:season.show.tmdbId,seasonNumber:season.seasonNumber,episodeNumber:episode.episodeNumber}) }}">{{ season.seasonNumber }}x{{ episode.episodeNumber }} -
                                        {{ episode.name }}</a>
                                </h1>
                                <h2>{{ episode.airDate | date('d F Y') }}</h2>
                            </div>
                            <form action="{{ path('history_store_episode',{tmdbId: episode.tvShow.id, seasonNumber: season.seasonNumber, episodeNumber:episode.episodeNumber}) }}" method="post">
                                {% if isEpWatched %}
                                    <input name="_method" value="delete" hidden>
                                {% endif %}
                                <input name="redirect" value="{{ path('season_show',{showId: season.show.tmdbId, seasonNumber: season.seasonNumber}) }}" hidden>
                                <button type="submit" class="btn waves-effect waves-light {{ isEpWatched ? 'red' : 'green' }}">
                                    <i class="material-icons">{{ isEpWatched ? 'clear' : 'check' }}</i>
                                </button>
                            </form>

                        </div>
                    {% else %}
                        Aucun épisode pour l'instant.
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock %}