{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="search-header">
                {#{{ dump(results) }}#}
                <h1>Recherche</h1>
                {{ results.total_results }} résultats pour <strong>{{ query }}</strong>
            </div>
            <div class="shows">
                {% for show in results.results %}
                <div class="show card horizontal">
                    <div class="card-image">
                        <a href="{{ path('show_show',{showId:show.id}) }}">
                            <img src="{{ 'https://image.tmdb.org/t/p/w92/' ~ show.poster_path }}" alt="">
                        </a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h1>
                                <a href="{{ path('show_show',{showId:show.id}) }}">{{ show.name }} ({{ show.first_air_date|slice(0,4)}})</a>
                            </h1>
                            <p>{{ show.overview | length > 120 ? show.overview|slice(0,120) ~ '…' : show.overview}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
