{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="search-header">
                <h1>Séries suivies</h1>
            </div>
            <div class="shows">
                <div class="show card horizontal">
                    <div class="card-image">
                        <a href="{{ path('show_show',{showId:1}) }}">
                            <img src="https://image.tmdb.org/t/p/w92/dcofw4ByyS0o2CZrYjzhgV2Pgd0.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h1>
                                <a href="{{ path('show_show',{showId:1}) }}">Stargate Atlantis (2002)</a>
                            </h1>
                            <h2>Prochain épisode 18x03</h2>
                            <h2>25 juin 2018</h2>
                        </div>
                        <div class="card-action button danger">
                            <i class="material-icons">delete</i>Supprimer</div>
                    </div>
                </div>
                <div class="show card horizontal">
                    <div class="card-image">
                        <a href="{{ path('show_show',{showId:1}) }}">
                            <img src="https://image.tmdb.org/t/p/w92/dcofw4ByyS0o2CZrYjzhgV2Pgd0.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h1>
                                <a href="{{ path('show_show',{showId:1}) }}">Stargate Atlantis (2002)</a>
                            </h1>
                            <h2>Prochain épisode 18x03</h2>
                            <h2>25 juin 2018</h2>
                        </div>
                        <div class="card-action button danger">
                            <i class="material-icons">delete</i>Supprimer</div>
                    </div>
                </div>
                <div class="show card horizontal">
                    <div class="card-image">
                        <a href="{{ path('show_show',{showId:1}) }}">
                            <img src="https://image.tmdb.org/t/p/w92/dcofw4ByyS0o2CZrYjzhgV2Pgd0.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h1>
                                <a href="{{ path('show_show',{showId:1}) }}">Stargate Atlantis (2002)</a>
                            </h1>
                            <h2>2 épisodes vus sur 78</h2>
                            <h2>Série terminée</h2>
                        </div>
                        <div class="card-action button danger">
                            <i class="material-icons">delete</i>Supprimer</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
